
.gif-gallery {
  margin: 4rem;
  text-align: center;
}
.gif-wrapper {
  margin: 4px;
  background-color: #eee;
}
.gif-wrapper:hover {
  cursor: pointer;
}
.gif-wrapper img {
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
  position: absolute;
  top: 50%;
}
