.search-bar {
  height: 3rem;
  width: 100%;
  background-color: #222;
  opacity: .8;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: height 0.4s, opacity 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar.focused {
  height: 4rem;
  opacity: 1;
}

input {

  color: #555;
  border: none;
  font-size: 1.4rem;
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  width: 40rem;
}

input::placeholder {
  font-size: 1.1rem;
  color: #aaa;

  /*padding: 0 1rem;*/
}

input:focus {
  outline: none;
}